<app-header></app-header>

<div class="login-card">
  <div>
    <div class="title-container">
      <h2>Passwort zurücksetzen</h2>
      <div class="back-button" routerLink="/login">
        <div class="hover">
          <img src="assets/icons/arrow_back.svg" />
        </div>
      </div>
    </div>

    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
      class="login-form"
    >
      <!-- Password -->
      <div class="input-container">
        <div class="icon-input">
          <img
            class="input-icon"
            src="assets/icons/lock.svg"
            alt="Passwort Icon"
          />
          <input
            [type]="hidePassword ? 'password' : 'text'"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="Neues Passwort"
            required
          />
        </div>
        <div class="error-box">
          @if (password.hasError('required') && (password.touched ||
          password.dirty)) {
          <div class="error">Passwort ist <strong>erforderlich</strong></div>
          } @if (password.hasError('minlength') &&
          !password.hasError('required')) {
          <div class="error">
            Minimum {{ password.errors?.['minlength'].requiredLength }} Zeichen
          </div>
          }
        </div>
      </div>
      <!-- Password Repeat -->
      <div class="input-container">
        <div class="icon-input">
          <img
            class="input-icon"
            src="assets/icons/lock.svg"
            alt="Passwort Icon"
          />
          <input
            [type]="hidePassword ? 'password' : 'text'"
            id="confirmPassword"
            formControlName="confirmPassword"
            class="form-control"
            placeholder="Neues Passwort wiederholen"
            required
          />
        </div>
        <div class="error-box">
          @if (resetPasswordForm.hasError('passwordMismatch') &&
          (confirmPassword.touched || confirmPassword.dirty)) {
          <div class="error">
            Passwort stimmt <strong>nicht überein</strong>
          </div>
          }
        </div>
      </div>

      <div class="button-group button-group-right">
        <button
          type="submit"
          class="btn primary"
          [disabled]="resetPasswordForm.invalid || isLoading"
        >
          @if (isLoading) {<span>Laden...</span> }@else {<span
            >Passwort ändern</span
          >}
        </button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
