<app-header></app-header>
<div class="login-card">
  <div class="title-container">
    <h2>Wähle deinen Avatar</h2>
    <div class="back-button" routerLink="/login">
      <div class="hover">
        <img src="assets/icons/arrow_back.svg" />
      </div>
    </div>
  </div>

  <div class="column">
    <div class="column profile-Information">
      <img src="assets/icons/avatars/{{ activeImage }}" alt="Profil" />

      <h3>{{ userName }}</h3>
    </div>

    <div>
      <p>Aus der Liste wählen</p>

      <div class="profile-img">
        @for (image of listOfProfileImages; track $index) {<img
          src="assets/icons/avatars/{{ image }}"
          alt="Profil"
          (click)="changeImage(image)"
        />}
      </div>
    </div>
  </div>
  <div class="button-group button-group-right">
    <button (click)="changeUserData()" class="btn primary">
      @if (isLoading) {<span>Laden...</span> }@else {<span>Weiter</span>}
    </button>
  </div>
</div>
<app-footer></app-footer>
