@import "./../../assets/styles/stylesSign.scss";

.profile-Information {
  padding-bottom: 1em;
  h3 {
    font-size: 32px;
    padding-top: 0.5em;
  }
  img {
    height: 168px;
    width: 168px;
    border-radius: 50%;
  }
}

.profile-img {
  padding-top: 1em;
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  img {
    height: 72px;
    width: 72px;
    border-radius: 50%;
  }
}
