<mat-card class="login-card">
  <mat-card-content>
    <h2>Login</h2>
    <p>We recommend using the email address you use at work.</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <span matPrefix>
          <img src="assets/icons/mail.svg" alt="Mail icon" class="input-icon" />
        </span>
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="e.g. example@mail.com"
        />
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="email.hasError('email') && !email.hasError('required')"
        >
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <span matPrefix>
          <img src="assets/icons/lock.svg" alt="Lock icon" class="input-icon" />
        </span>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="
            password.hasError('minlength') && !password.hasError('required')
          "
        >
          Minimum {{ password.errors?.['minlength'].requiredLength }} characters
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="full-width"
        [disabled]="loginForm.invalid"
      >
        Log In
      </button>
    </form>
  </mat-card-content>
</mat-card>
