<app-header></app-header>
<div class="login-card">
  <div class="login-content">
    <h2>Anmeldung</h2>
    <p>
      Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
      verwendest.
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <!-- Email -->
      <div class="input-container">
        <div class="icon-input">
          <img
            class="input-icon"
            src="assets/icons/mail.svg"
            alt="Email Icon"
          />
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="beispielname@email.com"
            required
          />
        </div>
        <div
          class="error"
          *ngIf="email.hasError('required') && (email.touched || email.dirty)"
        >
          Email ist <strong>erforderlich</strong>
        </div>
        <div
          class="error"
          *ngIf="email.hasError('email') && !email.hasError('required')"
        >
          Bitte gib eine gültige E-Mail-Adresse ein
        </div>
      </div>

      <!-- Password -->
      <div class="input-container">
        <div class="icon-input">
          <img
            class="input-icon"
            src="assets/icons/lock.svg"
            alt="Passwort Icon"
          />
          <input
            [type]="hidePassword ? 'password' : 'text'"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="Passwort"
            required
          />
        </div>
        <div
          class="error"
          *ngIf="
            password.hasError('required') &&
            (password.touched || password.dirty)
          "
        >
          Passwort ist <strong>erforderlich</strong>
        </div>
        <div
          class="error"
          *ngIf="
            password.hasError('minlength') && !password.hasError('required')
          "
        >
          Minimum {{ password.errors?.['minlength'].requiredLength }} Zeichen
        </div>
      </div>

      <!-- Forgot Password -->
      <div class="forgot-password-container">
        <div class="forgot-password-link" (click)="navigateToForgotPassword()">
          <span>Passwort vergessen?</span>
        </div>
      </div>


      <!-- Divider -->
      <div class="divider"><span>ODER</span></div>

      <!-- Google Login -->
      <button type="button" class="btn google-btn">
        <img src="assets/svg/Google.svg" alt="Google" />
        Anmelden mit Google
      </button>

      <div class="button-group">
        <button
          type="submit"
          class="btn primary small-btn"
          [disabled]="loginForm.invalid || isLoading"
        >
          <span *ngIf="isLoading">Laden...</span>
          <span *ngIf="!isLoading">Anmelden</span>
        </button>

        <button
          type="button"
          class="btn guest-btn small-btn"
          (click)="loginAsGuest()"
        >
          Gäste-Login
        </button>
      </div>
    </form>
  </div>
</div>

