@import "./../../assets/styles/stylesSign.scss";

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  .checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #42526e;
    font-family: "Nunito", sans-serif;
    a {
      text-decoration: none;
    }

    .chekbox-box {
      height: 18px;
      width: 18px;
      border: #797ef3 2px solid;
      border-radius: 3px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 3.5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
        transition: opacity 0.2s ease;
      }
    }

    input[type="checkbox"]:checked + .chekbox-box {
      background-color: #797ef3;
      &::after {
        opacity: 1;
      }
    }

    input[type="checkbox"] {
      display: none;
    }
  }
}
