<app-header></app-header>

<div class="login-card">
  <div>
    <div class="title-container">
      <h2>Passwort zurücksetzen</h2>
      <div class="back-button" routerLink="/login">
        <div class="hover">
          <img src="assets/icons/arrow_back.svg" />
        </div>
      </div>
    </div>
    <p>Bitte geben Sie ihre E-Mail-Adresse ein.</p>
    <form
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onSubmit()"
      class="login-form"
    >
      <!-- Email -->
      <div class="input-container">
        <div class="icon-input">
          <img
            class="input-icon"
            src="assets/icons/mail.svg"
            alt="Email Icon"
          />
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="beispielname@email.com"
            required
          />
        </div>
        <div class="error-box">
          @if (email.hasError('required') && (email.touched || email.dirty)) {
          <div class="error">Email ist <strong>erforderlich</strong></div>
          } @else if (email.hasError('email') && !email.hasError('required')) {
          <div class="error">Bitte gib eine gültige E-Mail-Adresse ein</div>
          }
        </div>
      </div>

      <p class="fp-text">
        Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
      </p>

      <div class="button-group button-group-right">
        <button
          type="submit"
          class="btn primary"
          [disabled]="forgotPasswordForm.invalid || isLoading"
        >
          @if (isLoading) {<span>Laden...</span> }@else {<span>Weiter</span>}
        </button>
      </div>
    </form>
  </div>
</div>
