@import "./../../assets/styles/stylesSign.scss";

h2 {
  color: #444df2;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  line-height: 1;
  font-family: "Nunito";
}

.fp-text {
  color: #555;
  font-size: 0.95rem;
  margin-bottom: 2rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
