<app-header></app-header>
<div class="forgot-container">
  <div class="fp-card">
    <div class="fp-content">
      <div class="fp-title-container">
        <div class="back-button" routerLink="/login">
          <img src="assets/icons/arrow_back.svg" />
        </div>
        <h2 class="fp-title">Passwort zurücksetzen</h2>
      </div>
      <p class="fp-text">Bitte geben Sie ihre E-Mail-Adresse ein.</p>

      <form
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="onSubmit()"
        class="fp-form"
      >
        <div class="fp-input-group">
          <div class="fp-icon-wrapper">
            <img
              class="fp-input-icon"
              src="assets/icons/mail.svg"
              alt="Email Icon"
            />
            <input
              type="email"
              formControlName="email"
              class="fp-input"
              placeholder="beispielname@email.com"
              required
            />
          </div>
          <div
            class="fp-error"
            *ngIf="email.hasError('required') && (email.touched || email.dirty)"
          >
            Email ist <strong>erforderlich</strong>
          </div>
          <div
            class="fp-error"
            *ngIf="email.hasError('email') && !email.hasError('required')"
          >
            Bitte gib eine gültige E-Mail-Adresse ein
          </div>
        </div>

        <p class="fp-text">
          Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
        </p>

        <div class="fp-buttons">
          <button
            type="submit"
            class="fp-btn fp-primary"
            [disabled]="forgotPasswordForm.invalid || isLoading"
          >
            <span *ngIf="isLoading">Laden...</span>
            <span *ngIf="!isLoading">E-Mail senden</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
