html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("assets/fonts/Nunito-VariableFont_wght.ttf")
    format("truetype-variations");
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("assets/fonts/Nunito-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
}

.mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  display: none;
}
